.course {
  padding-left: 24px;
  padding-top: 200px;
}

.course h1 {
  font-size: 22px;
  font-weight: 500;
}

.course p {
  opacity: 0.6;
  font-size: 14px;
  font-weight: 300;
}

.carousel {
  width: 100%;
  height: 166px;
}

.card_container {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  gap: 20px;
  margin-top: 10px;
}

.card_container::-webkit-scrollbar {
  display: none;
}

.card {
  min-width: 280px;
  scroll-snap-align: start;
  cursor: pointer;
}

.card > div {
  width: 100%;
  height: 160px;
  border-radius: 6px;
}

.card > h3 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}
